<!DOCTYPE html>
<html>
  <head>
    <title>Safe Compus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>ABCD DEMO</title>
   <link rel="stylesheet" href="./css/reset.css">
   <link rel="stylesheet" href="./css/style.css">
   <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
 </head>
    
  </head>

  <body>
  <header>
      <div class="header-logo">
      <%= link_to("Safe Compass","/") %>
      </div>
      <ul class="header-menus">
      <% if @current_user %>
      <li>
            <!-- @current_userに書き換えてください -->
            <%= link_to("マイページ/過去の結果", "/users/#{@current_user.id}") %>
          </li>
      <!-- ログインしている状態でヘッダーに表示するHTMLを貼り付けてください -->
      <li>
        <%= link_to("備蓄プラン", "/posts/index") %>
      </li>
      <li>
        <%= link_to("備蓄スコア", "/posts/new") %>
      </li>
      
      <li>
        <!-- ログアウト用のリンクを追加してください -->
        <%= link_to("ログアウト","/logout",{method: "post"})%>
        </li>
      
    <% else %>
      <!-- ログインしていない状態でヘッダーに表示するHTMLを貼り付けてください -->
      <li>
        <%= link_to("新規登録", "/signup") %>
      </li>
      <li>
        <%= link_to("ログイン", "/login") %>
      </li>
      
    <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
